@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

input[type="text"]::placeholder {
  color: #bcccdc;
  font-style: italic;
}

.button:focus {
  background-color: #9b4dca;
  border-color: #9b4dca;
}

.file-path i {
  margin-right: 1rem;
  cursor: pointer;
}

.file-path .selected i.check svg polyline {
  color: #27ab83;
}

.file-path .disabled i.check svg line,
.file-path .ignored i.check svg line,
.file-path .ignored i.ignore svg line {
  color: #9fb3c8;
}
.file-path .disabled a {
  color: #9fb3c8;
}
.file-path .ignored a {
  text-decoration-line: line-through;
  text-decoration-color: #486581;
}

.file-path a {
  color: #9446ed;
  font-size: 1.5rem;
  vertical-align: top;
  cursor: pointer;
}

.file-path a.symlink em {
  color: #dac4ff;
  font-style: normal;
  vertical-align: inherit;
}

.copy-clipboard {
  position: absolute;
  top: 0.6rem;
  right: 0.75rem;
}

.copy-clipboard i {
  color: #a368fc;
  cursor: pointer;
}

.copy-clipboard:hover i {
  color: #7a0ecc;
}

.output-syntax pre,
.output-syntax code {
  background-color: transparent;
}

.react-hint::after {
  border-top-color: #334E68;
}

.react-hint__content {
  font: 1.2rem 'Ubuntu Mono', monospace;
  background-color: #334E68;
  white-space: nowrap;
}
